body { 
    background-color: #121212;
    color: #FFD700;
}


h1 {
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
}


h2 {
    text-align: center;
    font-size: 22px;
    color: #ffffff;
}

h3 {
    text-align: center;
}

.contenedorCanchas {
    background-color: #1e1e1e;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 20px;
}

.contenedorCanchas p{
    justify-content: space-around;
    font-size: 20px;
    color: #ffffff;
}

.precios {
    color: green;
}

section {
    display: grid;
    row-gap: 20px;
    padding: 30px;
}

input, select, button {
    padding: 5px;
    font-size: 16px;
    background-color: #1a1a1a;
    color: #FFD700;
    border: 2px solid #FFD700;
    border-radius: 5px;
    height: 30px;
}

input::placeholder {
    color: #aaa;
}

#listado {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    border: 1px solid #FFD700;
}

#listado div {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #444;
}


.botonBorrar {
    padding: 5px 20px;
    font-size: 16px;
    background-color: #8B0000;
    color: white;
    border: 2px solid #FFD700;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.botonEditar {
    margin-top: 10px;
    background-color: #343a40;
    color: white;
}